---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.emoji {
    color: initial; /* This will reset the color to its default, which is often colored emoji */
}


.small-image {
  width: 100px;
  height: auto;
}
